:root {
  --color-main: #172B4D;
  --color-bg: #F6F7F9;
  --color-white: #FFFFFF;
  --color-blue: #4B68A1;
  --color-red: #FF6D6D;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  color: var(--color-main);
  background: var(--color-bg);
  max-width: 100%!important; overflow-x: hidden!important;
}